# docker-compose.yml

services:
  trendie:
    image: ankane/pgvector
    container_name: trendie_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    # 비밀번호 설정하는 경우 아래처럼 environment에 추가 가능
    # environment:
    #   REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - redisdata:/data

  fastapi:
    image: ${DOCKER_USERNAME}/trendie-image:latest
    container_name: fastapi-app
    restart: always
    # [포트 설정] EC2의 80번(기본 웹) 포트로 들어오면 -> 내부 8000번으로 연결
    # 주소창에 포트번호 없이 http://IP주소 로 접속 가능하게 함
    ports:
      - "80:8000"
    env_file:
      - .env
    depends_on:
      - trendie
      - redis

  scheduler:
    # API 서버와 '같은 이미지'를 사용 (코드 베이스가 같음)
    image: ${DOCKER_USERNAME}/trendie-image:latest
    container_name: youtube_scheduler
    restart: always
    environment:
      - PYTHONPATH=/app
    command: [ "python", "app/scheduler/youtube_scheduler.py" ]
    depends_on:
      - trendie
      - redis
volumes:
  pgdata:
  redisdata: