#FastAPI 웹 서버
fastapi
uvicorn[standard]

# OAuth 인증 (Google, Kakao 등) + HTTP 요청용
httpx

# 환경변수 관리 (.env 파일)
pydantic_settings

# MySQL 연동 (ORM)
sqlalchemy
mysql-connector-python
alembic

# JWT 발급/검증용
python-jose
passlib[bcrypt]

# 구글 소셜 로그인
google-auth

# 메모리 캐시 저장
redis==4.6.0
