#FastAPI 웹 서버
fastapi
uvicorn[standard]

# OAuth 인증 (Google, Kakao 등) + HTTP 요청용
httpx

# 환경변수 관리 (.env 파일)
pydantic_settings

# PostgreSQL연동
sqlalchemy
alembic

psycopg2-binary
pgvector

# JWT 발급/검증용
python-jose
passlib[bcrypt]

# 구글 소셜 로그인
google-auth

# 메모리 캐시 저장
redis==4.6.0

#유튜브 비디오
google-api-python-client~=2.176.0
pandas
scikit-learn~=1.7.1
konlpy~=0.6.0
sentence-transformers
pydantic~=2.11.7
python-dateutil~=2.9.0.post0

# 폼 저장
python-multipart>=0.0.6